*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
/coverage/

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#Eclipse
.project
.pydevproject
.settings

# virtualenv
.Python
include/
lib/
pip-selfcheck.json
local/
pyvenc.cfg

.flakeheaven_cache
