[buildout]
index = https://pypi.org/simple/
develop = .
parts =
    test
    coverage-test
    z3c.coverage
    backup
    code-analysis
show-picked-versions = true
versions = versions


[backup]
# Might as well simply test creating a backup script here.
recipe = collective.recipe.backup
backup_blobs = false


[test]
recipe = zc.recipe.testrunner
eggs = collective.recipe.backup[tests]
defaults = ['--auto-color', '--auto-progress', '--ndiff']


[coverage-test]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage', '-v', '--auto-progress']


[z3c.coverage]
recipe = zc.recipe.egg:scripts


[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/collective/recipe/backup
multiprocessing = true
flake8-max-complexity = 15
return-status-codes = False
# E203 Whitespace before ':' [false positives when using black]
# E501 line too long
# W503 Line break occurred before a binary operator [outdated]
flake8-ignore = E203 E501 W503
flake8 = true
flake8-extensions =
    flake8-blind-except
    flake8-coding
# When using "black" you don't want this:
#    flake8-commas
    flake8-debugger
    flake8-deprecated
    flake8-isort
    flake8-pep3101
# These are nice for Plone, but useless for a buildout recipe:
#    flake8-plone-api
#    flake8-plone-hasattr
#    flake8-print
# When using "black" without "--skip-string-normalization" you don't want this:
#    flake8-quotes
    flake8-string-format
    flake8-todo
# extra:
    pep8-naming

[versions]
backports.functools-lru-cache = 1.5
check-manifest = 0.37
configparser = 3.7.4
coverage = 4.5.3
entrypoints = 0.3
enum34 = 1.1.6
flake8 = 3.7.7
flake8-blind-except = 0.1.1
flake8-coding = 1.3.1
flake8-debugger = 3.1.0
flake8-deprecated = 1.3
flake8-isort = 2.7.0
flake8-pep3101 = 1.2.1
flake8-string-format = 0.2.3
flake8-todo = 0.7
functools32 = 3.2.3.post2
futures = 3.2.0
isort = 4.3.16
lxml = 4.3.3
manuel = 1.10.1
mccabe = 0.6.1
plone.recipe.codeanalysis = 3.0.1
pycodestyle = 2.5.0
pyflakes = 2.1.1
setuptools = 40.8.0
six = 1.12.0
testfixtures = 6.6.2
typing = 3.6.6
WebOb = 1.8.5
z3c.coverage = 2.1.0
zc.buildout = 2.13.1
zc.recipe.deployment = 1.3.0
zc.recipe.egg = 2.0.7
zc.recipe.testrunner = 2.0.0
zc.zdaemonrecipe = 1.0.0
ZConfig = 3.4.0
zdaemon = 4.3
zope.exceptions = 4.3
zope.interface = 4.6.0
zope.testing = 4.7
zope.testrunner = 5.0

flake8-polyfill = 1.0.2
pep8-naming = 0.8.2
