# Note: pip 22.2+ leads to extra warnings in the output, which leads to failures in doctests.
# Requires-Python support missing.
# Traceback (most recent call last):
#   File ".../python3.10/site-packages/zc/buildout/patches.py", line 52, in patch_PackageIndex
#     from pip._internal.index.collector import HTMLPage
# ImportError: cannot import name 'HTMLPage' from 'pip._internal.index.collector' (/Users/maurits/community/collective.recipe.backup/lib/python3.10/site-packages/pip/_internal/index/collector.py)
pip==22.1.2
setuptools==65.3.0
wheel==0.37.1
zc.buildout==3.0.0rc3
